<div id="start" class="" style="transform: translateY(0px);">
  <div class="start-gift-card card-xbox pos-3"><div class="value">$50</div></div>
  <div class="start-gift-card card-google pos-3"><div class="value">$25</div></div>
  <div class="start-gift-card card-steam pos-3"><div class="value">$100</div></div>
  <div class="start-gift-card card-playstation pos-1"><div class="value">$50</div></div>
  <div class="start-gift-card card-spotify pos-0"><div class="value">$60</div></div>
  <div class="start-gift-card card-itunes pos-2"><div class="value">$100</div></div>
  <div class="start-gift-card card-paypal pos-3"><div class="value">$50</div></div>
  <div class="start-gift-card card-amazon pos-3"><div class="value">$100</div></div>
</div>

<div id="title" class="" style="transform: translateY(0px);">
  <h1>DO you want<br>some <span>Free</span><br>Gift Cards</h1>
  <div id="scroll-down">
    <svg width="100%" height="100%" version="1.1" style="fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1289 730">
     <defs> <style type="text/css"> .scroll-down {fill:gray;fill-opacity:0.501961}  </style> </defs>
     <g> <polygon class="scroll-down" points="86,0 644,559 1203,0 1289,86 730,644 644,730 559,644 0,86 "></polygon> </g>
    </svg>
  </div>
</div>

<div id="gift-cards" class="" style="transform: translateY(0px);">
  <%= render "shared/card_panel", card_name: "google" %>
  <%= render "shared/card_panel", card_name: "xbox" %>
  <%= render "shared/card_panel", card_name: "steam" %>
  <%= render "shared/card_panel", card_name: "playstation" %>
  <%= render "shared/card_panel", card_name: "spotify" %>
  <%= render "shared/card_panel", card_name: "itunes" %>
  <%= render "shared/card_panel", card_name: "paypal" %>
  <%= render "shared/card_panel", card_name: "amazon" %>
</div>
