<!DOCTYPE html>
<html>
  <head>
    <title>Get Free Gift Card Code</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
    <!-- <script type="text/javascript" src="https://triggerinstalls.com/script_include.php?id=655325"></script> -->

    <!-- Javascript plugin -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js"></script> -->
    <!-- <script src="http://marak.com/faker.js/js/faker.js"></script> -->

  </head>

  <body marginwidth="0" marginheight="0" style="height: auto;">
    <script type="text/javascript">document.body.className += " preload";</script>
    <div id="preload" class="" style="opacity: 0; display: none;">
      <div id="preload-logo" class="" style="opacity: 0; transform: translateY(-32.45vh);"></div>
      <div id="preloader" class="" style="opacity: 0;"><span></span></div>
    </div>
    <div id="menu" style="display: block;">
      <ul>
        <li><a class="menu" href="free-google-play-gift-cards.html">Google Play</a></li>
        <li><a class="menu" href="free-xbox-gift-cards.html">Xbox</a></li>
        <li><a class="menu" href="free-steam-gift-cards.html">Steam</a></li>
        <li><a class="menu" href="free-playstation-store-gift-cards.html">Playstation</a></li>
        <li><a class="menu" href="free-spotify-gift-cards.html">Spotify</a></li>
        <li><a class="menu" href="free-itunes-gift-cards.html">iTunes</a></li>
        <li><a class="menu" href="free-paypal-gift-cards.html">PayPal</a></li>
        <li><a class="menu" href="free-amazon-gift-cards.html">Amazon</a></li>
      </ul>
    </div>
    <!-- menu -->

    <div id="wrapper">
      <div id="header">
        <div id="menu-trigger">
          <div class="menu-trigger"></div>
          <div class="menu-trigger"></div>
          <div class="menu-trigger"></div>
        </div>
      </div>
      <%= yield %>
    </div>
    <%= yield :gearbox %>
  </body>
</html>
