<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".title" %></title>
    <meta name="description" content="<%= t ".description" %>">
    <meta name="keywords" content="<%= t ".key" %>">
    <meta property="og:title" content="<%= t ".title" %>">
    <meta property="og:description" content="<%= t ".description" %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
      maximum-scale=1.0, user-scalable=no" />
  </head>

  <body marginwidth="0" marginheight="0" style="height: auto;">
    <script type="text/javascript">document.body.className += " preload";</script>
    <div id="preload" class="" style="opacity: 0; display: none;">
      <div id="preload-logo" class="" style="opacity: 0; transform: translateY(-32.45vh);"></div>
      <div id="preloader" class="" style="opacity: 0;"><span></span></div>
    </div>
    <div id="menu" style="display: block;">
      <ul>
        <li><a class="menu" href="/google">Google Play</a></li>
        <li><a class="menu" href="/xbox">Xbox</a></li>
        <li><a class="menu" href="/steam">Steam</a></li>
        <li><a class="menu" href="/playstation">Playstation</a></li>
        <li><a class="menu" href="/spotify">Spotify</a></li>
        <li><a class="menu" href="/itunes">iTunes</a></li>
        <li><a class="menu" href="/paypal">PayPal</a></li>
        <li><a class="menu" href="/amazon">Amazon</a></li>
      </ul>
    </div>

    <div id="wrapper">
      <div id="header">
        <div id="menu-trigger">
          <div class="menu-trigger"></div>
          <div class="menu-trigger"></div>
          <div class="menu-trigger"></div>
        </div>
      </div>
      <%= yield %>
    </div>
    <%= yield :gearbox %>
  </body>
</html>
